<h1>Trip Calculator</h1>


    <form (ngSubmit)="onSubmit(heroForm.value)" #heroForm="ngForm">
    <!-- <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>  -->

    <div *ngFor="let hero of new_model; let i=index;">
      ({{i}}) {{hero.camper_name}}
      <app-trip-card [name]='hero.camper_name' [cost]='hero.camper_total'></app-trip-card>
    </div>


    <div class="col-md-4 col-s-12 card">
      <div class="form-group">
          
        <label for="camperOne_name">Name</label>
        <input type="text" class="form-control" id="camperOne_name"
               required
               [(ngModel)]="model.camperOne_name" name="camperOne_name"
               #camperOne_name="ngModel">
        <div [hidden]="camperOne_name.valid || camperOne_name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="camperOne_total">Total Spent</label>
        <input type="text" class="form-control" id="camperOne_total"
               [(ngModel)]="model.camperOne_total" name="camperOne_total">
      </div>
    </div>

    <div class="col-md-4 col-s-12 card ">
        <div class="form-group">
            
          <label for="camperTwo_name">Name</label>
          <input type="text" class="form-control" id="camperTwo_name"
                 required
                 [(ngModel)]="model.camperTwo_name" name="camperTwo_name"
                 #camperTwo_name="ngModel">
          <div [hidden]="camperTwo_name.valid || camperTwo_name.pristine"
               class="alert alert-danger">
            Name is required
          </div>
        </div>
  
        <div class="form-group">
          <label for="camperTwo_total">Total Spent</label>
          <input type="text" class="form-control" id="camperTwo_total"
                 [(ngModel)]="model.camperTwo_total" name="camperTwo_total">
        </div>
      </div>

      <div class="col-md-4 col-s-12  card">
        <div class="form-group">
            
          <label for="camperThree_name">Name</label>
          <input type="text" class="form-control" id="camperThree_name"
                 required
                 [(ngModel)]="model.camperThree_name" name="camperThree_name"
                 #camperThree_name="ngModel">
          <div [hidden]="camperThree_name.valid || camperThree_name.pristine"
               class="alert alert-danger">
            Name is required
          </div>
        </div>
  
        <div class="form-group">
          <label for="camperThree_total">Total Spent</label>
          <input type="text" class="form-control" id="camperThree_total"
                 [(ngModel)]="model.camperThree_total" name="camperThree_total">
        </div>
      </div>

      &nbsp;&nbsp;
      <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>


      <div [hidden]="!submitted">

        <div class="col-md-4 col-s-12  card">
            <h2>Everyone should spend {{calculatedResponse.splitTotal}}</h2>
            <div class="row">
              <div class="col-xs-3">{{ calculatedResponse.camperOne_name }}</div>
              <div class="col-xs-9">{{ calculatedResponse.camperOne_owes }}</div>
            </div>
            <div class="row">
              <div class="col-xs-3">{{ calculatedResponse.camperTwo_name }}</div>
              <div class="col-xs-9">{{ calculatedResponse.camperTwo_owes }}</div>
            </div>
            <div class="row">
              <div class="col-xs-3">{{ calculatedResponse.camperThree_name }}</div>
              <div class="col-xs-9">{{ calculatedResponse.camperThree_owes }}</div>
            </div>
            <br>
            
        </div>

        <!-- <button class="btn btn-primary" (click)="submitted=false">Edit</button> -->
      </div>

    </form>